<div id="endForm" class="survey">
    <p>What kind of speakers/headphones did you use?  Choose the best match to your actual equipment.</p>
    <select id="audioequip" name="audioequip">
        <option>Laptop/pc speakers</option>
        <option>External speakers (cost $30 or less)</option>
        <option>External speakers (cost $100 or less)</option>
        <option>External speakers (cost more than $100)</option>
        <option>In-ear headphones/earbuds (cost $30 or less)</option>
        <option>In-ear headphones/earbuds (cost $100 or less)</option>
        <option>In-ear headphones/earbuds (cost more than $100)</option>
        <option>Over-the-ear headphones (cost $30 or less)</option>
        <option>Over-the-ear headphones (cost $100 or less)</option>
        <option>Over-the-ear headphones (cost more than $100)</option>
    </select>
    <p>Enter any comments you have below.  Did anything seem weird?  Were you hearing anything besides the choices we gave you?</p>
    <textArea id="comments" name="comments" placeholder="Enter your comments here." ></textArea>
</div>
