body {
    font-family: Helvetica;
}

.dimmed {
    color: #CCCCCC;
}

div#progressBar {
    width: 600px;
    height: 15px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -300px;
    border-style: solid;
    border-width: 1px;
    padding: 1.5px;
    display: none;
}

div#progressBar > div.pbInner {
    
}

div#textContainer {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 0px;
    font-size: 16pt;
}

div#instructions {
    display: none;
}

div#oldBrowserMessage {
}

div#browserIcons {
    text-align: center;
}

div#consent {
    font-size: 14pt;
}

div#logo {
    margin-top: 0.3in;
    margin-bottom: 0.3in;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div#logo img {
    width: 75%;
    display: inline;
}

div#testInstructions, div#expInstructions {
    text-align: center;
    display: none;
    width: 100%;
    font-size: 14pt;
}

div#feedback {
    position: relative;
    text-align: center;
    margin-top: 50px;
    font-size: 18pt;
    display: none;
}
div.correct {
    color: green;
}
div.incorrect {
    color: red;
}

div#continue {
    /*position: relative;*/
    text-align: center;
    z-index: 10000;
    margin-top: 50px;
    display: none;
}
    

span#contText {
    color: white;
    background-color: green;
    padding: 5px 20px;
    font-size: 30pt;
    font-weight: bold;
    cursor: default;
}    
    

a#catchRedo {
    color: green;
}

video.vidStim {
    height: 0px;
    z-index: 10001;
}

div#exposureContainer, div#videoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0px;
    margin-top: -144px;
    width: 0px;
    margin-left: -176px;
}
 
div#testBlock, div#audioContainer {
    height: 0px;
    display: none;
}

div#debugging {
    display: none;
}

div#fixation {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
    z-index: -1;
}

form#mturk_form.debug {
    position: absolute;
    left: 10px;
    top: 10px;
}

form#mturk_form * {
    display: none;
}

div.survey {
    width: 100%;
    border: 5px solid #cccccc;
    background-color: #eeeeee;
    padding: 10px;
    text-align: left;
    font-size: 14pt;
}

div.survey * {
    margin: 10px;
}

div.survey ul {
    list-style-type: none;
}

div.survey ul > li {
    margin: 0px;
}

div.survey#rsrb > button {
    height: 0px;
}

select#audioEquip {
    
}
    

textArea#comments {
    width: 90%;
    height: 100px;
}


textArea#comments.debug {
    display: none;
}

div#bdays {
    width: 400px;
    height: 400px;
    position: absolute;
    margin-left: -200px;
    left: 50%;
    top: 25%;
}

div#buttons {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

span.respKey {
    font-weight: bold;
}
